*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    min-height: 100vh;
}

.left{
    /* background-color: black; */
    /* flex-grow: 1; */
    background-image:url('./images/image1.png');
    background-size: cover ;
    width: 22rem;
    min-width: 12rem;
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    /* height: 100vh; */
    /* width: 50px; */
}
.right{
    /* flex-grow: 2; */
    margin: 5rem 5rem auto 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
    padding-bottom: 2em;
    /* margin-bottom: auto; */
    /* gap: 102px 102px; */
}
.right p{
    font-weight:700;
}
.logo{
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    justify-content: center;
    margin-top: 10rem;
    background-color: rgba(0, 0, 0,0.3);
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
    align-items: center;
}
.logo-img{
    width: 1.5em;
}
.logo-text{
    color: white;
}
.f1{
    display: flex;
    gap:1rem 10rem;
    flex-wrap: wrap;
}
form{
    display: flex;
    flex-direction: column;
    gap: 2rem 1rem;
}
button{
    /* position: relative; */
    width: 12rem;
    background-color: rgb(117, 218, 117);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    border-color: white;
    border-width: 1px;
    transition: transform 0.2s ease;
}
button:hover{
    background-color: rgb(171, 234, 171);
    transform: translateY(-2px);
}
button:focus{
    outline: none;
}
button:active{
    border-style: outset;
}
.inputs{
    display: flex;
    flex-direction: column;
}
input{
    width: 13rem;
    padding: 0.5em;
}
form label{
    font-family: monospace;
    letter-spacing: 2px;
}
a{
    color: green;
}
.gradient-line{
    height: 5px;
    border: none;
    background: linear-gradient(lightgrey,white);
}